<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="mb-4">Lists</h1>
    <a class="btn btn-primary btn-sm" href="{{ url_for('app_add_list') }}">Add List</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Tasks</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td>{{ list.title }}</td>
                <td>{{ list.description }}</td>
                <td>{{ list.task_count }}</td>
                <td>{{ list.created_date.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="{{ url_for('tasks_index', list_id=list.id) }}" class="bi-eye"></a>
                    <a href="{{ url_for('app_edit_list', list_id=list.id) }}" class="bi-pencil"></a>
                    <a href="{{ url_for('app_delete_list', list_id=list.id) }}" class="bi-trash" onclick="return confirm('Are you sure?');"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}